/*
<!-- ▒█▀▀▀ ▒█▀▀▀█ ▒█▄░▒█ ▀█▀ ▀▄▒▄▀ -->
<!-- ▒█▀▀▀ ▒█░░▒█ ▒█▒█▒█ ▒█░ ░▒█░░ -->
<!-- ▒█░░░ ▒█▄▄▄█ ▒█░░▀█ ▄█▄ ▄▀▒▀▄ -->
*/

@import 'https://fonts.googleapis.com/css?family=Lato:300,400,700';
@import 'https://fonts.googleapis.com/css?family=Open+Sans:400,800';
html, body {
	width: 100%;
	margin: 0 auto;
	padding: 0;
	overflow-x: hidden;
	font-family: 'Lato', sans-serif!important;
	font-weight: 300;
	font-size: 15px;
	color: #fff!important;
	background-image: url("../../../assets/res/tile-red.jpg");
	background-attachment:fixed;
	zoom: 100%;
}

.left {
	float: left
}
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.right {
	float: right
}

#topNav {
	padding-top: 7px;
	background-color: rgba(15, 15, 15, 0.6);
	border-top-color: red;
	border-top-style: solid;
}

#topNav .left p {
	margin-top: 3px;
	font-weight: 400
}

#topNav .statusOnline {
	color: #fff
}

#topNav .statusOffline {
	color: #FF0000
}

#topNav .right {
	color: #aaa
}

#topNav .right a {
	color: #aaa;
	font-weight: 400
}

#topNav .right a:hover, #topNav .right a:focus {
	color: #FF0000;
	text-decoration: none
}

#topNav .right .hvr-icon-buzz-out:before {
	content: "\f129"
}

.navbar-brand img {
	width: 325px;
	margin-top: -28px;
	margin-left: -8px
}

.navbar-inverse {
	border: none;
	padding: 10px 0;
	background-color: rgba(15, 15, 15, 0.3);
	box-shadow: 0 10px 15px rgba(0, 0, 0, 0.3);
	margin-bottom: 0
}

.navbar-nav li a {
	color: #ddd!important;
	font-size: 16px;
	font-weight: 800;
	text-transform: uppercase;
	font-family: 'Open Sans', sans-serif!important
}

.navbar-nav li a:hover, .navbar-nav li a:focus {
	color: #fff!important
}

.navbar-nav .hvr-underline-from-left:before {
	background: #FF0000!important
}

.intro {
	margin-top: -84px;
	padding-top: 125px;
	padding-bottom: 25px;
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

#pageIntro {
	padding-top: 145px!important;
	padding-bottom: 5px!important
}

#pageTitle {
	text-align: left;
	font-size: 52px;
	font-weight: 800;
	line-height: 50px;
	text-transform: uppercase;
	font-family: 'Open Sans', sans-serif!important;
	padding: 15px 15px;
	border-left: 6px solid #FF0000;
	background-color: rgba(15, 15, 15, 0.3);
	box-shadow: 0 10px 15px rgba(0, 0, 0, 0.3)
}

.section!important {
	padding: 25px 0
}

.sectionColor {
	padding: 35px 0
}

.sectionColor .container {
	padding: 0!important;
	border-bottom-width: 1px;
  border-color: #FF0000;
  border-style: solid;
	background-color: rgba(15, 15, 15, 0.6);;
	box-shadow: 0 10px 15px rgba(0, 0, 0, 0.3)
}

.title {
	font-size: 18px;
	font-weight: 800;
	text-transform: uppercase;
	font-family: 'Open Sans', sans-serif!important;
	padding: 10px 10px;
	background-color: #FF0000
}

.btn {
	border-radius: 0!important
}

.btn-info {
	border-bottom: 4px solid #4a67cf!important
}

.hvr-reveal {
	display: inline-block;
	vertical-align: middle;
	-webkit-transform: translateZ(0);
	transform: translateZ(0);
	box-shadow: 0 0 1px rgba(0, 0, 0, 0);
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	-moz-osx-font-smoothing: grayscale;
	position: relative;
	overflow: hidden;
}
.hvr-reveal:before {
	content: "";
	position: absolute;
	z-index: -1;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	background-color: rgba(15, 15, 15, 0.1);
	border-color: #ff0000;
	border-style: solid;
	border-width: 0;
	-webkit-transition-property: border-width;
	transition-property: border-width;
	-webkit-transition-duration: .1s;
	transition-duration: .1s;
	-webkit-transition-timing-function: ease-out;
	transition-timing-function: ease-out
}
.hvr-reveal:active:before, .hvr-reveal:focus:before, .hvr-reveal:hover:before {
	-webkit-transform: translateY(0);
	transform: translateY(0);
	border-width: 4px;
	background-color: rgba(15, 15, 15, 0.5);
}

.btn-primary {
	border-bottom: 4px solid #006699!important
}

select {
	color: #ddd
}

input:focus, textarea:focus, select:focus {
	color: #fff;
	background-color: #101010;
	-webkit-box-shadow: inset 0 -2px 0 #FF0000!important;
	box-shadow: inset 0 -2px 0 #FF0000!important
}

#footer {
	color: #C2C2C2;
	padding-bottom: 50px;
	background-position: center top
}

#footer .container {
	padding: 15px 15px!important;
	border-bottom-width: 0.5px;
  border-color: #FF0000;
  border-style: solid;
}

#footer .left {
	text-align: left
}

#footer .right {
	text-align: right;
	margin-top: 30px
}

#footer .left p {
	font-size: 32px;
	font-weight: 800;
	text-transform: uppercase;
	font-family: 'Open Sans', sans-serif!important;
	margin-bottom: -5px
}

#footer .left p span {
	color: #FF0000
}

#footer .left ul {
	margin: 0;
	padding: 0;
	list-style: none;
	padding-bottom: 10px
}

#footer .left ul li {
	display: inline-block
}

#footer .left ul li a {
	color: #fff;
	font-weight: 400;
	padding: 10px 10px
}

#footer .left ul li a:hover, #footer .left ul li a:focus {
	color: #FF0000;
	text-decoration: none
}

#homeIntro .col-md-9 {
	text-align: left
}

#homeIntro .col-md-9 p {
	font-size: 52px;
	font-weight: 800;
	line-height: 50px;
	text-transform: uppercase;
	font-family: 'Open Sans', sans-serif!important;
	padding: 15px 15px;
	border-left: 6px solid #FF0000;
	background-color: rgba(15, 15, 15, 0.7)
}

#homeIntro .col-md-9 p:first-child span {
	color: #FF0000
}

#homeIntro .col-md-9 p:nth-child(2), #homeIntro .col-md-9 p:nth-child(3) {
	font-size: 15px;
	font-weight: 300;
	line-height: 22px;
	text-transform: none;
	font-family: 'Lato', sans-serif!important;
	margin-top: -52px;
	padding-top: 0
}

#homeIntro .col-md-9 p:nth-child(3) {
	margin-top: -15px;
	padding-top: 5px;
	box-shadow: 0 10px 15px rgba(0, 0, 0, 0.3)
}

#homeIntro .col-md-9 p:nth-child(3) .btn {
	margin: 2px;
	border-radius: 0!important;
	border-bottom: 4px solid #6600cc!important
}

#social {
	background-color: rgba(15, 15, 15, 0.6);;
	box-shadow: 0 10px 15px rgba(0, 0, 0, 0.3)
}

#social .col-md-6:nth-child(2) {
	text-align: left
}

#socialMediaList {
	margin: 0;
	padding: 0;
	list-style: none;
	margin-bottom: 10px
}

#socialMediaList li {
	display: inline-block;
	margin: 2px
}

#social .col-md-6:nth-child(2) p {
	font-size: 15px;
	line-height: 22px
}

.news {
	text-align: left;
	padding: 15px 25px;
	margin-top: 15px;
	margin-bottom: 15px
}

.newsTitle {
	font-size: 18px;
	font-weight: 700;
	text-transform: uppercase;
	margin-bottom: 5px
}

.newsDate {
	font-size: 16px;
	margin-left: 15px;
	padding: 5px 5px;
	background-color: #FF0000
}

.newsImg {
	width: 325px;
	height: 200px;
	clear: left;
	float: right;
	margin-left: 10px;
	margin-right: 10px;
	box-shadow: 0 10px 15px rgba(0, 0, 0, 0.3)
}

.newsContent {
	line-height: 22px;
	font-size: 15px
}

.map {
	margin: 0 25px;
	background-color: #171717
}

.map p:first-child {
	font-size: 24px;
	font-weight: 600;
	text-transform: uppercase;
	font-family: 'Open Sans', sans-serif!important;
	margin-bottom: 0;
	margin-top: 10px;
	padding: 5px 0
}

.map p:first-child i {
	color: #F4D03F
}

.map img {
	width: 100%;
}

.map p:nth-child(3) a {
	width: 100%
}

#status .row {
	margin-left: 0;
	margin-right: 0
}

.statusLeft {
	text-align: right;
	padding-right: 25px!important;
	border-right: 6px solid #FF0000
}

.statusRight {
	text-align: left;
	padding-left: 25px!important;
	border-left: 20px solid #111
}

#status .col-md-9 {
	padding: 15px 0;
	background-color: #171717;
	margin-top: 15px;
	margin-bottom: 15px
}

#status .col-md-9 p:first-child {
	font-size: 26px;
	font-weight: 700;
	text-transform: uppercase;
	font-family: 'Open Sans', sans-serif!important
}

#status .col-md-9 p:nth-child(2) {
	margin-top: -20px
}

#status .col-md-9 p:nth-child(2) span {
	font-size: 14px;
	padding: 5px 10px;
	margin: 0 5px;
	background-color: #232323
}

#status .statusPageOnline {
	font-size: 18px;
	padding: 5px 10px;
	background-color: #FF0000
}

#status .statusPageOffline {
	font-size: 18px;
	padding: 5px 10px;
	background-color: #FF0000
}

#contactForm {
	text-align: left;
	padding: 25px 0
}

#contactForm button {
	width: 100%;
	font-size: 18px
}

#contactForm label {
	font-size: 16px;
	font-family: 'Open Sans', sans-serif!important
}

.dmcaIssueField, .paymentIssueField {
	display: none
}

.dmcaIssueField.active, .paymentIssueField.active {
	display: block
}

#tos a, #privacy a, #dmca a {
	color: white;
	width: 100%;
	padding-top: 20px;
	padding-bottom: 20px;
	font-size: 14px;
}

#tos a:hover, #privacy a:hover, #dmca a:hover, #tos a:focus, #privacy a:focus, #dmca a:focus {
	color: #FF0000
}

.containerWrap {
	padding: 15px 25px
}

.update {
	font-size: 22px;
	font-weight: 400;
	margin-bottom: 25px;
	text-transform: uppercase
}

.heading, .paragraph, .listLetters, .listNumbers, .dmcaList {
	text-align: left
}

.heading {
	font-size: 20px;
	font-weight: 400;
	text-transform: uppercase;
	margin-top: 25px;
	margin-bottom: 5px;
	padding-left: 20px;
}

.listLetters, .listNumbers {
	font-size: 14px
}

.paragraph {
	font-size: 16px;
	font-weight: 400;
	line-height: 22px
}

.listLetters {
	list-style-type: lower-alpha
}

.listLetters, .listNumbers {
	margin-top: -12px
}

.nestedList {
	margin-top: 0
}

.question {
	font-family: 'Lato', sans-serif!important;
	font-weight: 300;
	font-size: 20px;
	text-align: center;
	background-color: rgba(15, 15, 15, 0.8);
	margin-top: 35px;
	border-bottom-width: 0.5px;
	border-color: #FF0000;
	border-style: solid;
	border-width: 0.5px;
	padding-top: 10px;
	padding-bottom: 10px;
}

#error404 p:nth-child(2), #error404 p:nth-child(3) {
	text-align: left;
	padding: 0 25px
}

#error404 p:nth-child(2) {
	font-size: 32px;
	font-weight: 700;
	font-family: 'Open Sans', sans-serif!important;
	margin-top: 50px
}

#error404 p:nth-child(3) {
	font-size: 22px;
	font-weight: 700;
	font-family: 'Open Sans', sans-serif!important;
	margin-top: -45px;
	margin-bottom: 175px
}

#error404 a {
	color: #FF0000
}

#error404 a:hover, #error404 a:focus {
	color: #FF0000;
	text-decoration: none
}

::selection {
	background: #FF0000
}

::-moz-selection {
	background: #FF0000
}

::-webkit-scrollbar {
	width: 10px;
	background: #0f0f0f
}

::-webkit-scrollbar-thumb {
	background: #FF0000
}

#loader-wrapper {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1001;
}

#loader {
	display: block;
	position: relative;
	left: 50%;
	top: 50%;
	width: 150px;
	height: 150px;
	margin: -75px 0 0 -75px;
	border-radius: 50%;
	border: 3px solid transparent;
	border-top-color: white;
	-webkit-animation: spin 2s linear infinite;
	/* Chrome, Opera 15+, Safari 5+ */
	animation: spin 2s linear infinite;
	/* Chrome, Firefox 16+, IE 10+, Opera */
	z-index: 1001;
}

#loader:before {
	content: "";
	position: absolute;
	top: 5px;
	left: 5px;
	right: 5px;
	bottom: 5px;
	border-radius: 50%;
	border: 3px solid transparent;
	border-top-color: #FF0000;
	-webkit-animation: spin 3s linear infinite;
	/* Chrome, Opera 15+, Safari 5+ */
	animation: spin 3s linear infinite;
	/* Chrome, Firefox 16+, IE 10+, Opera */
}

#loader:after {
	content: "";
	position: absolute;
	top: 15px;
	left: 15px;
	right: 15px;
	bottom: 15px;
	border-radius: 50%;
	border: 3px solid transparent;
	border-top-color: #FF0000;
	-webkit-animation: spin 1.5s linear infinite;
	/* Chrome, Opera 15+, Safari 5+ */
	animation: spin 1.5s linear infinite;
	/* Chrome, Firefox 16+, IE 10+, Opera */
}

@-webkit-keyframes spin {
	0% {
		-webkit-transform: rotate(0deg);
		/* Chrome, Opera 15+, Safari 3.1+ */
		-ms-transform: rotate(0deg);
		/* IE 9 */
		transform: rotate(0deg);
		/* Firefox 16+, IE 10+, Opera */
	}
	100% {
		-webkit-transform: rotate(360deg);
		/* Chrome, Opera 15+, Safari 3.1+ */
		-ms-transform: rotate(360deg);
		/* IE 9 */
		transform: rotate(360deg);
		/* Firefox 16+, IE 10+, Opera */
	}
}

@keyframes spin {
	0% {
		-webkit-transform: rotate(0deg);
		/* Chrome, Opera 15+, Safari 3.1+ */
		-ms-transform: rotate(0deg);
		/* IE 9 */
		transform: rotate(0deg);
		/* Firefox 16+, IE 10+, Opera */
	}
	100% {
		-webkit-transform: rotate(360deg);
		/* Chrome, Opera 15+, Safari 3.1+ */
		-ms-transform: rotate(360deg);
		/* IE 9 */
		transform: rotate(360deg);
		/* Firefox 16+, IE 10+, Opera */
	}
}

#loader-wrapper .loader-section {
	position: fixed;
	top: 0;
	width: 51%;
	height: 100%;
	background: #222222;
	z-index: 1000;
	-webkit-transform: translateX(0);
	/* Chrome, Opera 15+, Safari 3.1+ */
	-ms-transform: translateX(0);
	/* IE 9 */
	transform: translateX(0);
	/* Firefox 16+, IE 10+, Opera */
}

#loader-wrapper .loader-section.section-left {
	left: 0;
}

#loader-wrapper .loader-section.section-right {
	right: 0;
}


/* Loaded */

.loaded #loader-wrapper .loader-section.section-left {
	-webkit-transform: translateX(-100%);
	/* Chrome, Opera 15+, Safari 3.1+ */
	-ms-transform: translateX(-100%);
	/* IE 9 */
	transform: translateX(-100%);
	/* Firefox 16+, IE 10+, Opera */
	-webkit-transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
	transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
}

.loaded #loader-wrapper .loader-section.section-right {
	-webkit-transform: translateX(100%);
	/* Chrome, Opera 15+, Safari 3.1+ */
	-ms-transform: translateX(100%);
	/* IE 9 */
	transform: translateX(100%);
	/* Firefox 16+, IE 10+, Opera */
	-webkit-transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
	transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
}

.loaded #loader {
	opacity: 0;
	-webkit-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
}

.loaded #loader-wrapper {
	visibility: hidden;
	-webkit-transform: translateY(-100%);
	/* Chrome, Opera 15+, Safari 3.1+ */
	-ms-transform: translateY(-100%);
	/* IE 9 */
	transform: translateY(-100%);
	/* Firefox 16+, IE 10+, Opera */
	-webkit-transition: all 0.3s 1s ease-out;
	transition: all 0.3s 1s ease-out;
}


/* JavaScript Turned Off */

.no-js #loader-wrapper {
	display: none;
}

.no-js h1 {
	color: #222222;
}

.fa-check {
	color: #FF0000!important;
}

.fa {
	color: #fff;
}

canvas {
	position: fixed;
}

.animate-out {
	-webkit-transition: opacity .5s;
	transition: opacity .5s;
	opacity: 0;
}

@-webkit-keyframes fadeIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

@keyframes fadeIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

ul {
	list-style: url(../../images/circle.png);
	list-style-type: circle;
}
* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  /*max-width: 1000px;*/
  position: relative;
  margin: auto;
}



/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
	color: #FF0000;
	font-size: 16px;
	padding: 8px 12px;
	position: absolute;
	top: 0;
	font-weight: 900;
}

/* The dots/bullets/indicators */
.dot {
  cursor:pointer;
  height: 13px;
  width: 13px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}
