/*
<!-- ▒█▀▀▀ ▒█▀▀▀█ ▒█▄░▒█ ▀█▀ ▀▄▒▄▀ -->
<!-- ▒█▀▀▀ ▒█░░▒█ ▒█▒█▒█ ▒█░ ░▒█░░ -->
<!-- ▒█░░░ ▒█▄▄▄█ ▒█░░▀█ ▄█▄ ▄▀▒▀▄ -->
*/

@media only screen and (max-width:1000px), only screen and (max-device-width:1000px) {
	.navbar-brand img {
		width: 225px;
		margin-top: -15px
	}
	.navbar-nav li a {
		font-size: 14px;
		padding: 20px 10px
	}
}

@media only screen and (max-width:767px), only screen and (max-device-width:767px) {
	.navbar-toggle .icon-bar {
		background-color: #fff!important
	}
	.navbar-inverse .navbar-collapse {
		border: none!important;
		margin-bottom: 60px
	}
	#social iframe {
		width: 100%
	}
	.map img {
		height: 300px
	}
}

@media only screen and (max-width:480px), only screen and (max-device-width:480px) {
	.left, .right {
		float: none
	}
	.newsImg {
		float: none;
		width: 250px;
		height: 125px;
		margin-bottom: 15px
	}
	.newsTitle {
		font-size: 14px
	}
	.newsDate {
		font-size: 12px
	}
	.newsAuthor {
		font-size: 12px;
		margin-top: -20px
	}
	#footer .left p {
		font-size: 26px
	}
	.map img {
		height: 200px
	}
	::-webkit-scrollbar {
		width: 4px
	}
}
